{% extends 'layout.html.twig' %}

{% block menuBlock %}{% endblock menuBlock %}
{% block filterBlock %}{% endblock filterBlock %}
{% block pageMenu %}{% endblock pageMenu %}

{% block pageTitle %}About / Imprint<small class="text-muted"> brasstonality.com</small>{% endblock pageTitle %}

{% block content %}


    <div class="row my-3"><!-- row 1 -->

        <address>
            <strong>Stefan Wiegmann</strong><br>
            stefan.wiegmann[at]mindpool.net<br>
            <a href="https://stefanwiegmann.de">https://stefanwiegmann.de</a>
        </address>

    </div>

{% endblock content %}
