{% extends 'layout.html.twig' %}

{% block main %}

<div class="row justify-content-md-center my-3"><!-- row 1 -->

  <div class="col-md-4 text-md-center">

    <div class="card border-light text-center">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-film fa-5x"></i></h5>
        <h6 class="card-subtitle mb-2 text-muted">Media Server</h6>
        <p class="card-text">Check out some Videos</p>
        <a href="https://media.brasstonality.com" class="card-link">Go</a>
      </div>
    </div>

  </div>

  <div class="col-md-4 text-md-center">

    <div class="card border-light text-center">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-record-vinyl fa-5x"></i></i></h5>
        <h6 class="card-subtitle mb-2 text-muted">Music Server</h6>
        <p class="card-text">Stream some music</p>
        <a href="https://music.brasstonality.com" class="card-link">Go</a>
      </div>
    </div>

  </div>

  <div class="col-md-4 text-md-center">

    <div class="card border-light text-center">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-cloud fa-5x"></i></h5>
        <h6 class="card-subtitle mb-2 text-muted">Cloud</h6>
        <p class="card-text">Share some data</p>
        <a href="https://cloud.brasstonality.com" class="card-link">Go</a>
      </div>
    </div>

  </div>

</div><!-- row 1 -->

<div class="row justify-content-md-center my-3"><!-- row 2 -->

  <div class="col-md-4 text-md-center">

    <div class="card border-light text-center">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-wifi fa-5x"></i></h5>
        <h6 class="card-subtitle mb-2 text-muted">Unifi Controller</h6>
        <p class="card-text">Administrate some network</p>
        <a href="https://unifi.brasstonality.com" class="card-link">Go</a>
      </div>
    </div>

  </div>

  <div class="col-md-4 text-md-center">

    <!-- <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-record-vinyl fa-5x"></i></i></h5>
        <h6 class="card-subtitle mb-2 text-muted">Music Server</h6>
        <p class="card-text">Stream some music</p>
        <a href="https://music.brasstonality.com" class="card-link">Go</a>
      </div>
    </div> -->

  </div>

  <div class="col-md-4 text-md-center">

    <div class="card border-light text-center">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-database fa-5x"></i></h5>
        <h6 class="card-subtitle mb-2 text-muted">DB Admin</h6>
        <p class="card-text">Administrate some data</p>
        <a href="https://db.brasstonality.com" class="card-link">Go</a>
      </div>
    </div>

  </div>

</div><!-- row 2 -->

{% endblock main %}
