{% extends 'layout.html.twig' %}

{% block main %}

<div class="row justify-content-md-center my-3"><!-- row 1 -->

    <div class="col-md-4 text-md-center">

        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-film fa-5x"></i></h5>
                <p class="card-text">Media Server</p>
                <a href="https://media.brasstonality.com" class="btn btn-secondary" role="button">Go</a>
            </div>
        </div>

    </div>

    <div class="col-md-4 text-md-center">

        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-record-vinyl fa-5x"></i></i></h5>
                <p class="card-text">Music Server</p>
                <a href="https://music.brasstonality.com" class="btn btn-secondary" role="button">Go</a>
            </div>
        </div>

    </div>

    <div class="col-md-4 text-md-center">

        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-cloud fa-5x"></i></h5>
                <p class="card-text">Cloud Server</p>
                <a href="https://cloud.brasstonality.com" class="btn btn-secondary" role="button">Go</a>
            </div>
        </div>

    </div>

</div><!-- row 1 -->

<div class="row justify-content-md-center my-3"><!-- row 2 -->

    <div class="col-md-4 text-md-center">

        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-wifi fa-5x"></i></h5>
                <p class="card-text">Unifi Controller</p>
                <a href="https://unifi.brasstonality.com" class="btn btn-secondary" role="button">Go</a>
            </div>
        </div>

    </div>

    <div class="col-md-4 text-md-center">

        <div class="card border-light text-center">
            <div class="card-body">
                <h5 class="card-title"><i class="fas fa-database fa-5x"></i></h5>
                <p class="card-text">DB Admin</p>
                <a href="https://db.brasstonality.com" class="btn btn-secondary" role="button">Go</a>
            </div>
        </div>

    </div>

</div><!-- row 2 -->

{% endblock main %}
