{% extends 'base.html.twig' %}

{% block body %}

<div id="wrapper">

   <div id="nav">
    this is a header
   </div>

   <div id="main">
    this is content
   </div>

   <footer>
    this is a footer
   </footer>

</div> <!-- main -->

{% endblock body %}
